.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.section-title {
  margin-bottom: 30px;

  color: var(--title-text-color);
  text-align: center;
  font-size: 28px;
  line-height: 1.179;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.167;
  }
}
